<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="deviceView.css" />
    <link rel="stylesheet" href="../media/reset.css" />
    <link rel="stylesheet" href="../media/vscode.css" />
    <title>Emulator View</title>
  </head>
  <body>
    <div class="container">
      <h1 class="section-title">Android Emulators</h1>
      <div id="android-emulators-container"></div>

      <h1 class="section-title">IOS Simulators</h1>
      <div id="ios-simulators-container"></div>
      <script src="deviceView.js"></script>
    </div>
  </body>
</html>
